/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

/* Navbar styles */
.navbar {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Header styles */
.header {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    height: 400px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

/* Flex container for main content and sidebar */
.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-section {
    width: 65%;
}

.small-section {
    width: 30%;
    margin-left: 5%;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content h2 {
    color: #003366;
}

.content p {
    line-height: 1.6;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #003366;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #00509e;
}

/* Footer styles */
.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Additional styles for specific elements */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    line-height: 1.6;
}

/* Work in Progress message */
.work-in-progress {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.gallery-item {
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item-info {
    padding: 10px;
    text-align: center;
}

/* Ensure all images have a consistent color overlay */
.gallery-item img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
